body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#actMenu{
    display: none;
}

.iconSt{
    width: 35px;
    height: 35px;
    box-sizing: border-box;
}

.principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgba(255, 125, 3, 0.952);
    color: white;
    border-radius: 0px 0px 12px 12px;
}

.principal img{
    margin: 0 15px;
}

.Menu label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    width: 50px;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.Menu label span{
    border: 2px solid white;
    margin: 5px;
    width: 35px;
}

#actMenu:checked ~ header > .principal > .Menu > label > span:nth-child(1){
    position: absolute;
    transform: rotate(45deg);
}

#actMenu:checked ~ header > .principal > .Menu > label > span:nth-child(3){
    position: absolute;
    transform: rotate(-45deg);
}

#actMenu:checked ~ header > .principal > .Menu > label > span:nth-child(2){
    display: none;
}

#actMenu:checked ~ header > .principal{
    border-radius: 0;
}

#actMenu:checked ~ header > .barraConf{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgba(255, 125, 3, 0.952);
    color: white;
    border-radius: 0px 0px 12px 12px;
}

.barraConf{
    display: none;
    /*display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgba(255, 125, 3, 0.952);
    color: white;
    border-radius: 0px 0px 12px 12px;*/
}

.barraConf select{
    margin: 0 3px;
    width: 10%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 12px;
}

.barraConf button{
    cursor: pointer;
    margin: 0 3px;
    width: 9%;
    padding: 5px;
    border: 1px solid rgb(141, 86, 4);
    border-radius: 8px;
    background-color: rgba(154, 2, 255, 0.945);
    color: white;
}

.btnPadrao{
    cursor: pointer;
    margin: 0 3px;
    width: 12%;
    padding: 5px;
    border: 1px solid rgb(141, 86, 4);
    border-radius: 8px;
    background-color: rgba(154, 2, 255, 0.945);
    color: white;
}

.sltPadrao{
    margin: 0 5px;
    width: 12%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 12px;
}

.barraSup{
    text-align: center;
}

.barraSup h2{
    margin: 10px 0;
    padding: 0;
    box-sizing: border-box;
}

.cBox{
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mExtraNo{
    display: none;
}

.mExtra{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
}

.mExtra #btnCextra{
    position: absolute;
    right: 30px;
    top: 20px;
    border: 1px solid rgba(255, 96, 4, 0.589);
    background-color: rgb(240, 39, 4);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 35px;
}

.mExtra input{
    margin: 0 5px;
    width: 12%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 12px;
}

.mExtra{
    position: absolute;
    background-color: rgba(255, 94, 0, 0.644);
    height: 70%;
    width: 90%;
}

table{
    margin: 0 auto;
    border-collapse: collapse;
}

table tr td{
    text-align: center;
    border: 1px solid black;
}

.dFunc{
    text-align: left;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

footer a{
    color: black;
    cursor: pointer;
}